<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    $STYLE_IMPORTS$
    <title>$TAB_TITLE$</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo-name">Node.js Fullstack</div>

        <div class="nav-menu">
            <a href="/" class="nav-item">Home</a>
            <a href="/introduction" class="nav-item">Introduction</a>
            <a href="/firstserver" class="nav-item">First Server</a>
            <a href="/htmlfiles" class="nav-item">HTML Files</a>
            <a href="/time" class="nav-item">Time</a>
            <a href="/exportImport" class="nav-item">Export/Import</a>
            <a href="/ssr" class="nav-item">SSR/CSR</a>
            <a href="/async" class="nav-item">Asynchronous</a>
        </div>
        
    </nav>
    

    <main>
    